@import url(./header.css);


*, 
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    --accent-color: #2196f3;
}

ul , li, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container_row {
    display: flex;
    align-items: center;
}

.wrapper{
    position: relative;
    overflow: hidden;
}

/* header */

